* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: dimgray;
  text-decoration: none;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-image: url(imgs/bkg-simple.png);
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  padding-bottom: 2em;
  font-size: 2.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: rgb(138, 94, 59);
  font-family: 'Lobster', cursive;
}

.w80 {
  width: 80%;
  margin: 0 auto;
}

p {
  font-size: 1.4em;
  padding: 1.1em 0;
  color: RGB(193, 178, 151);
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}


/*MENU
++++++*/

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 100px;
  font-weight: bolder;
  padding: 5em 0;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li a {
  display: inline-block;
  line-height: 90px;
  -webkit-transition: box-shadow 0.7s;
  -webkit-transition: -webkit-box-shadow 0.7s;
  transition: -webkit-box-shadow 0.7s;
  transition: box-shadow 0.7s;
  transition: box-shadow 0.7s, -webkit-box-shadow 0.7s;
  color: RGB(193, 178, 151);
  padding: 4em 2em;
}

nav ul li a:hover {
  -webkit-box-shadow: 0 2.5em 0 rgb(138, 94, 59) inset;
  box-shadow: 0 2.5em 0 rgb(138, 94, 59) inset;
}

.logo {
  height: 100px;
}

.logo img {
  height: 90px;
  width: auto;
}


/*SLIDER
++++++*/

.slider {
  overflow-x: hidden;
  white-space: nowrap;
  background-color: RGB(244, 243, 241);
}

.slid1, .slid2 {
  width: 100%;
}

.slid1 {
  -webkit-animation-name: slider1;
  animation-name: slider1;
  -webkit-animation-duration: 15s;
  animation-duration: 15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.slid2 {
  -webkit-animation-name: slider2;
  animation-name: slider2;
  -webkit-animation-duration: 15s;
  animation-duration: 15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes slider1 {
  25% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  35% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  75% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  85% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slider1 {
  25% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  35% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  75% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  85% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes slider2 {
  25% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  35% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  75% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  85% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slider2 {
  25% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  35% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  75% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  85% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}


/*ABOUT
++++++*/

#about-anchor {
  background-color: RGB(244, 243, 241);
  padding: 8em 0;
}

.about-content>p {
  text-align: center;
}


/*MAP
++++++*/

#map-anchor {
  background: radial-gradient( farthest-corner ellipse at top left, RGB(244, 243, 241), RGB(193, 178, 151));
  padding: 8em 0;
}


/*.map {
  padding-top: 10px;
}*/

.map h1 {
  padding-bottom: 2em;
}

.map p {
  font-size: 1.4em;
  padding-top: 4em;
  text-align: center;
  color: rgb(138, 94, 59);
}

#map-embed {
  width: 100%;
}


/*CONTACT
++++++*/

#contact-anchor {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8em 0;
}

.contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 300px;
}

.contact-content p {
  padding: 1em 0;
}

.contact-content i {
  color: rgb(138, 94, 59);
}


/*FOOTER
++++++*/

footer {
  background: radial-gradient( farthest-corner ellipse at top left, RGB(244, 243, 241), RGB(193, 178, 151));
  font-style: italic;
  padding: 2em 0;
}

.footer-content {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-infos p {
  text-align: center;
  color: rgb(138, 94, 59);
  font-size: 1em;
}

.footer-copyright {
  font-size: 0.7em;
  padding-top: 5em;
}
